h1 {
  font-size: 30px;
  padding-left: 10px;
  border: 2px solid red;
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  border: 10px solid gold;
  margin: 2rem;
}

span {
  border: 1px solid black;
  padding: 6px;
}

section {
  width: 25%;
  height: 200px;
  border: 2px solid purple;
  margin: auto;
}