<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Your description goes here" />
    <meta name="keywords" content="one, two, three" />

    <title>Blank Template</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <section id="blue"><h2>Blue</h2></section>
    <section id="red"><h2>Red</h2></section>
    <section id="green"><h2>Green</h2></section>

    <section id="plus-three">+ 3</section>
    <section id="minus-five">-5</section>
    <section id="plus-ten">+10</section>
    <section id="zero">Back to 0</section>
    <p id="display-number"></p>
    <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>
