<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/levelStyle.css" />
    <title>Level Ground</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>Classes</li>
          <li>Hire Us</li>
        </ul>
        <img src="" alt="LG" />
        <button>Donate</button>
      </nav>
      <main>
        <h1>WHERE GRIT MEETS OPPORTUNITY</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur id
          facere molestias quam sed nesciunt natus tempora perferendis, harum
          fuga libero quia aut placeat aspernatur rem vero quidem eligendi ut.
        </p>
        <h3>Watch the Video</h3>
        <span id="bbi">Big Background image</span>
      </main>
    </header>
    <section class="white-sec">
      <h2>WHY</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit est error
        optio ipsa praesentium quaerat numquam, harum quas cum? Voluptate beatae
        dignissimos unde ratione nam maxime inventore qui mollitia eos.
      </p>
    </section>
    <section class="mid-sec">
      <div class="mid">
        <div class="rectangle"></div>
        <h3>VISIT THE GYM</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi odio,
          molestiae, officia id delectus aperiam voluptates ut doloribus
          voluptatum sapiente voluptatem exercitationem voluptatibus quia?
          Molestias aperiam iure quibusdam sit non.
        </p>
        <button class="btn">See Classes</button>
      </div>
      <div class="mid">
        <div class="rectangle"></div>
        <h3>HAVE US VISIT YOU</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi odio,
          molestiae, officia id delectus aperiam voluptates ut doloribus
          voluptatum sapiente voluptatem exercitationem voluptatibus quia?
          Molestias aperiam iure quibusdam sit non.
        </p>
        <button class="btn">HIRE US</button>
      </div>
    </section>
    <section class="white-sec">
      <h2>VOLUNTEER WITH LEVEL GROUND</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aliquam
        quas excepturi harum alias vero quia ad aspernatur ipsum, ratione sed
        neque voluptatum nostrum officiis maiores sunt veniam totam dolorem.
      </p>
      <button class="btn">VOLUNTEER</button>
    </section>
  </body>
</html>
