<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/salon.css" />
    <title>Hair Salon</title>
  </head>
  <body>
    <header>
      <nav>
        <h2>Ayesha</h2>
        <ul class="nav-links">
          <li>Home</li>
          <li>About</li>
          <li>Services</li>
          <li>LookBook</li>
          <li>News</li>
          <li>Contact</li>
        </ul>
        <button class="book-btn">- Book Online</button>
      </nav>
    </header>
    <main>
        <section class="main-sec">
        <h1>BLONDE & HIGHLIGHT</h1>
        <p>DIVIDE YOUR UNIQUENESS BY YOUR HAIRS IN TYLE</p>
        <button class="service-btn">OUR SERVICES</button>
        <aside>MON - SUN : 7:00 AM - 8:00 PM</aside>
        <section class="booking-sale">
          <span>YOUR FIRST VISIT</span>
          <span>-20% FOR THE FIRSR</span>
          <span>CLASSIC HAIR COLORING</span>
          <button class="book-btn">-- BOOK ONLINE</button>
        </section>
      </section>
      <img src="../images/hair-style.jpg" alt="Hair Style" class="hair-style">
    </main>
  </body>
</html>
