<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/salon.css">
    <title>Hair Salon</title>
  </head>
  <body>
    <header>
      <nav>
        <h2>Ayesha</h2>
        <ul class="nav-links">
          <li>Home</li>
          <li>About</li>
          <li>Services</li>
          <li>LookBook</li>
          <li>News</li>
          <li>Contact</li>
        </ul>
        <span>Book Online</span>
      </nav>
    </header>
  </body>
</html>
