<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7fbee0115c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/salon.css" />
    <title>Hair Salon</title>
  </head>
  <body>
    <header>
      <nav>
        <h2>Ayesha</h2>
        <ul class="nav-links">
          <li>Home</li>
          <li>About</li>
          <li>Services</li>
          <li>LookBook</li>
          <li>News</li>
          <li>Contact</li>
        </ul>
        <button class="book-btn">- Book Online</button>
      </nav>
    </header>
    <main>
      <section class="main-sec">
        <h1>BLONDE & HIGHLIGHT</h1>
        <p>DIVIDE YOUR UNIQUENESS BY YOUR HAIRS IN TYLE</p>
        <button class="service-btn">OUR SERVICES</button>
        <aside>MON - SUN : 7:00 AM - 8:00 PM</aside>
        <section class="booking-sale">
          <span>YOUR FIRST VISIT</span>
          <span>-20% FOR THE FIRSR</span>
          <span>CLASSIC HAIR COLORING</span>
          <button class="book-btn">-- BOOK ONLINE</button>
        </section>
      </section>
      <img
        src="../images/hair-style.jpg"
        alt="Hair Style"
        class="hair-style vc-image-1"
      />
    </main>
    <section class="services">
      <section class="service">
        <i class="fa-solid fa-heart icon"></i>
        <h5>EXPERT BEAUTICIANS</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
          reiciendis error similique nemo debitis.
        </p>
      </section>
      <section class="service">
        <i class="fa-solid fa-scissors icon"></i>
        <h5>QUALITY SERVICES</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
          reiciendis error similique consectetur adipisicing.
        </p>
      </section>
      <section class="service">
        <i class="fa-solid fa-star icon"></i>
        <h5>BEAUTY PRODUCTS</h5>
        <p>
          Lorem ipsum dolor Fuga nostrum molestiae enim odit laudantium voluptas
          eveniet possimus molestiae enim odit.
        </p>
      </section>
    </section>
  </body>
</html>
