<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/source.css" />
    <title>Source</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="">Source</a>
        <ul>
          <li><a href="">First Link</a></li>
          <li><a href="">Second Link</a></li>
          <li><a href="">Third Link</a></li>
          <li><a href="">Fourth Link</a></li>
        </ul>
        <button>Button</button>
      </nav>
    </header>
    <main>
      <section class="main-left">
        <span>TAGLINE</span>
        <h1>Source helps creators do more of waht they love</h1>
        <form action="" class="main-form">
          <input type="text" placeholder="Placeholder" />
          <button>Button</button>
        </form>
        <p>
          A device that enables a collaboration will lessen the chances of work
          having to be completely redone.
        </p>
      </section>
      <section>
        <img src="../images/pc.png" alt="PC Setup" class="pc-setup" />
      </section>
    </main>
  </body>
</html>
