<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7fbee0115c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/source.css" />
    <title>Source</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="">Source</a>
        <ul>
          <li><a href="">First Link</a></li>
          <li><a href="">Second Link</a></li>
          <li><a href="">Third Link</a></li>
          <li><a href="">Fourth Link</a></li>
        </ul>
        <button>Button</button>
      </nav>
    </header>
    <main>
      <section class="main-left">
        <span>TAGLINE</span>
        <h1>Source helps creators do more of what they love</h1>
        <form action="" class="main-form">
          <input type="text" placeholder="Placeholder" />
          <button>Button</button>
        </form>
        <p>
          A device that enables a collaboration will lessen the chances of work
          having to be completely redone.
        </p>
      </section>
      <section>
        <img src="../images/pc.png" alt="PC Setup" class="pc-setup" />
      </section>
    </main>
    <section class="features">
      <section>
        <i class="fa-solid fa-globe"></i>
        <h3>Feature One</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora
          dolorem non veniam et perferendis magnam suscipit accusantium.
        </p>
        <a href="">First Link ></a>
      </section>
      <section>
        <i class="fa-solid fa-shield-halved"></i>
        <h3>Feature Two</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora
          dolorem non veniam et perferendis magnam suscipit accusantium.
        </p>
        <a href="">Second Link ></a>
      </section>
      <section>
        <i class="fa-solid fa-circle-half-stroke"></i>
        <h3>Feature Three</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora
          dolorem non veniam et perferendis magnam suscipit accusantium.
        </p>
        <a href="">Third Link ></a>
      </section>
      <section>
        <i class="fa-solid fa-gear"></i>
        <h3>Feature Four</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora
          dolorem non veniam et perferendis magnam suscipit accusantium.
        </p>
        <a href="">Fourth Link ></a>
      </section>
    </section>
    <section class="bottom">
      <h2>Collecting information</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque
        dignissimos iure sed facere ab accusamus autem.
      </p>
      <img src="../images/computer.png" alt="Computer" class="computer">
    </section>
  </body>
</html>
